@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ponnala&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', var(--font-geist-sans), sans-serif;
  }


  .icon{
    display: block;
  }
  @media(min-width:488px){
    .icon{visibility: hidden !important;}
  }

  .head{
    display: block;
  }
  @media(max-width:488px){
    .head{visibility: hidden !important;}
  }

.cont {display: block;}

@media(max-width:488px){
  
  .cont{visibility: hidden ! important } ;

}

.achieve{
  display: block;
}
@media(max-width:488px){
 
  .achieve{visibility: hidden !important;};
  
}

.art{display: block;}
@media(max-width:488px)
{.art{visibility: hidden ! important;}}

.law{display: block;}
@media(max-width:488px)
{.law{visibility: hidden ! important;}}

.tech{display: block;}
@media(max-width:488px)
{.tech{visibility: hidden ! important;}}

.mob{display: block;}
@media(min-width:488px)
{.mob{visibility: hidden ! important;}}

.tab{display: block;}
@media(max-width:488px)
{.tab{visibility: hidden ! important;}}
















 
  


   
    

    



  

